$docsite-main-header-height: 64px;
$docsite-main-menu-width: 260px;
$docsite-content-lr-padding: 64px;
$docsite-content-lr-padding-mobile: 16px;
$docsite-content-max-width: 960px;
$docsite-content-min-width: 600px;
$docsite-content-max-width-tablet: 840px;
$docsite-page-header-height: 200px;
$docsite-page-header-height-tablet: 304px;
